html body {
  padding: 0px;
  margin: 0px;
  font-size: calc(1.125rem + (20 - 18) * ((100vw - 375px) / (1440 - 375)));
  font-family: Helvetica, sans-serif;
  background-color: white;
}


.header {
  background-color: rgb(236, 2, 42);
  height: 160px;
  padding-left: 60px;
  display: flex;
  align-items: center;
  position: sticky;
}


.body {
  padding: 60px;
}
.headlineTitle {
  font-size: 80px;
  opacity: 0.8;
  margin-bottom: 30px;
}
.headlineByline {
  font-size: 50px;
  opacity: 0.5;
  font-weight: 100;
  margin: 0px;
  padding: 0px;
}

.imgBox {
  height: 600px;
  background-color: rgb(240, 240, 240);
  display:flex;
  justify-content: center;
}


.audioPlayer {
  height: 100px;
}