html {
  background-color: white;
}
html body {
  box-sizing: border-box;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  font-size: calc(1.125rem + (20 - 18) * ((100vw - 375px) / (1440 - 375)));
  font-family: Helvetica, sans-serif;
  background-color: white;
}
.wrapper {
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgb(236, 2, 42);
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index:9999;
}
.headerText {
  color: rgb(240, 240, 240);
  width: 80px;
  font-size: 25px;
  margin-left: 15px;
  font-weight: 800;
}
.headerDivider {
  color: rgb(250, 250, 250);
  font-size: 25px;
  font-weight: 100;
  margin-left: 10px;
  margin-right: 10px;
}


.body {
  padding: 60px;
}
.headlineTitle {
  font-size: 80px;
  opacity: 0.8;
  margin-bottom: 20px;
}
.headlineByline {
  font-size: 40px;
  opacity: 0.5;
  font-weight: 100;
  margin: 0px;
  margin-bottom: 40px;
  padding: 0px;
}


.audioContainer {
  box-sizing: border-box;
  height: 400px;
  background-color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 6, 0.08) 4px 4px 10px 0px, rgba(0, 0, 6, 0.08) 0px 0px 2px 0px;
  padding: 90px 50px;
}
.audioHeadline {
  font-weight: 800;
  font-size: 4.5vw;
  margin-bottom:25px;
  opacity: 0.9;
}
.audioByline {
  font-size: 3.2vw;
  opacity: 0.8;
}
.player {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.toggle-play {
  height: 70px;
  width: 70px;
}
.timeline {
  border-radius: 10px;
  height: 20px;
  width: calc(100% - 70px - 20px);
  background-color: rgb(227, 227, 227);
  float: right;
}
.current {
  font-size: 3.2vw;
  float:left;
  margin-top: 40px;
}
.length {
  font-size: 3.2vw;
  float:right;
  margin-top: 40px;
}

.imgBox {
  height: 600px;
  background-color: rgb(240, 240, 240);
  display:flex;
  justify-content: center;
}


.audioPlayer {
  height: 100px;
}


.bodyText {
  margin-top: 45px;
  font-size: clamp(20px, 5vw, 35px);
  opacity: 0.5;
}


.footer {
  background-color: rgb(250, 250, 250);
  height: 200px;
  width: 100%;
}
.navWrapper {
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: row;
}
.navLink {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: end;
  font-size: 3.2vw;
  padding: 0 40px;
  color: #000006;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
}